  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Figtree:wght@500&family=Great+Vibes&family=Poppins&family=Roboto+Flex:opsz,wght@8..144,400;8..144,900&family=Tangerine:wght@700&display=swap');



*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.active{
  display: none;
}

:root{
  --bg-color: #000000;
  --second-bg-color: #3D0000;
  --blueBackground: #2a166f;
  --text-color: #F1F6F9;
  --third-bg-color: #950101;
  --mainred-bg-color: #ee2625;
}
.navContainer{
  display: flex;
  justify-content: space-between;
  padding: 7px 100px;
  align-items: center;
  border-bottom: 1px solid lightgray;

}
.navLogo img{
  width: 50px;
  height: auto;
}

.navCategories{
  display: flex;
}

.navCategories li{
  list-style-type: none;
  padding-left: 10px;
font-weight: 500;
}

.navCategories li:hover{
  color: var(--blueBackground);
  border-bottom: var(--blueBackground);
}

button{
  padding: 5px 20px;
  border-radius: 20px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.navlistenBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blueBackground);
  color: var(--text-color);
}
.navlistIcon{
  margin-left: 15px;
  margin-top: 3px;
}
.service{
  display: flex;
  cursor: pointer;
}
.dropd{
  margin-left: 5px;
}
.dropItems{
  border-radius: 10px;
  background: white;
  border: 1px solid lightgray;
  margin: 0px;
  position: absolute;
  top: 50px;
  left: 650px;
}
.dropItems li{
  list-style: none;
  padding: 10px 35px;
  border-bottom: 1px solid lightgray;
}
.dropItems li:hover{
  background-color: #F1F6F9;
  font-weight: bold;
}

/* Section one  */

.sectionOne{
  padding: 100px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  background-color: #aea2dd;
}

.sectionOneDescription{
  padding: 30px 0px;
}
.sectionOneDescription h1{
  padding-bottom: 30px;
}
.sectionOneDescription p{
  padding-bottom: 40px;
}

.sectionOneaImg img{
  width: 550px;
  height: auto;
  align-items: center;
}

/* sectionTwo  */
.sectionTwoholder{
  padding: 60px 100px;
}
.sectionTwoholder P{
  text-align: center;
}
.socialProofSec{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Tangerine', cursive;
}
.socialProofSec li{
  display: flex;
  text-decoration: none;
  column-gap: 10px;
  font-size: 30px;
  padding-top: 40px;
}

/* Section Three  */

.sectionThreeHolder{
  padding: 100px;
  background-color: rgb(244, 241, 239);
}
.sectionThreeHolder h1, .sectionThreeHolder P{
  text-align: center;
}
.cardIcon{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3cbf0;
}
.sectionThreeGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px 0px;
}
.sectionThreeGrid h3{
  padding-top: 20px;
}
.sectionThreeGrid p{
  text-align: left;
  padding-top: 20px;
}

/* sectionFour  */
.sectionFourHolder{
  background: rgb(174,162,221);
background: linear-gradient(128deg, rgba(174,162,221,1) 0%, rgba(255,255,255,1) 35%, rgba(42,22,111,1) 100%);
padding: 100px;
}
.sectionFourHolder h1{
  text-align: center;
  padding-bottom: 10px;
}
.sectionFourHolder p{
  text-align: center;
}
.sectionFourGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding-top: 20px;
}
.sec4Card p{
  text-align: left;
}
.sec4img img{
  width: 100%;
  height: auto;
}
.sec4button{
  border-radius: 0;
  background-color: none;
  padding: 0;
}
.sec4btn{
  border: 1px solid var(--blueBackground);
  text-align: center;
  padding: 10px 0px;
  margin-top: 10px;
}

/* section Five  */
.sectionfiveHolder{
  display: flex;
  padding: 80px 100px;
  background-color: #aea2dd;
}
.Tradmark{
  width: 30%;
}
.Tradmark li{
  list-style: none;
  padding: 10px 0px 10px;

}
.footcatGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 150px;

}
.futitems{
  list-style: none;
  padding: 10px 0px;
}
.futitems li{
  padding: 10px 0px;
}










@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate{
  100% {
    transform: rotate(360deg);
  }
}
@keyframes roll{
  100%{
    transform: rotate(360deg);
  }
}

@keyframes example {
  from {background-color: var(--bg-color);}
  to {background-color: var(--yellow-bg-color);}
}
@keyframes change{
  from{background-color: black;}
  to{background-color: var(--yellow-bg-color);}
}
